<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>邦邦留学</title>
    <link rel="Shortcut Icon" href="img/favicon.png">
    <link href="css/bootstrap.min.css"  rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet/less" type="text/css" href="css/caselist.less">
    <script src="js/less.js"></script>
</head>
<body>
<body>
<div class="top">
    <nav class="nav">
        <ul class="unstyled inline">
            <li><a href="" class="active">帮帮留学</a></li>
            <li><a href="">特色服务</a></li>
            <li><a href="">服务流程</a></li>
            <li><a href="">优质案例</a></li>
            <li><a href="">关于我们</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <div class="caseTitle">
        <div class="line"></div>
        <h3>优质案例</h3>
    </div>
    <ul class="caseList">
        <li class="caseListItem">
            <div class="casePic">
                <img src="img/case.png" alt="">
            </div>
            <div class="caseInfo">
                <h4 class="caseInfoTitle">兰卡斯特大学留学成功经典案例</h4>
                <p class="caseInfoCont">在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会</p>
                <div class="caseTime">2017-07-23</div>
            </div>
        </li>
        <li class="caseListItem">
            <div class="casePic">
                <img src="img/case.png" alt="">
            </div>
            <div class="caseInfo">
                <h4 class="caseInfoTitle">兰卡斯特大学留学成功经典案例</h4>
                <p class="caseInfoCont">在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会</p>
                <div class="caseTime">2017-07-23</div>
            </div>
        </li>
        <li class="caseListItem">
            <div class="casePic">
                <img src="img/case.png" alt="">
            </div>
            <div class="caseInfo">
                <h4 class="caseInfoTitle">兰卡斯特大学留学成功经典案例</h4>
                <p class="caseInfoCont">在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会</p>
                <div class="caseTime">2017-07-23</div>
            </div>
        </li>
        <li class="caseListItem">
            <div class="casePic">
                <img src="img/case.png" alt="">
            </div>
            <div class="caseInfo">
                <h4 class="caseInfoTitle">兰卡斯特大学留学成功经典案例</h4>
                <p class="caseInfoCont">在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会在北京医学奖励基金会</p>
                <div class="caseTime">2017-07-23</div>
            </div>
        </li>
    </ul>
</div>
<footer></footer>
</body>
</html>